.header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    transition: all 0.5s;
    
        
  }
  
  .headerScrolled {
    background: rgb(248, 238, 238);
    height: 75px;
    
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo a {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 10px; /* Adjust as needed */
  }
  
  .logo img {
    max-height: 70px; /* Adjust as needed */
  }
  
  .navigation {
    position: relative;
  }
  
  .navigation .navigation-items a {
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
  }
  
  .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: #46c7c7;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
  }
  
  .navigation .navigation-items a:hover:before {
    width: 100%;
  }
  
  @media (max-width: 992px) {
    .logo {
      font-size: 28px;
    }
  }
  